body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f3f4f6, #dbeafe);
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: linear-gradient(120deg, #1e3a8a, #2563eb);
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
  color: #1e3a8a;
}

section {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e40af;
  transform: scale(1.05);
}

#weather {
  background: linear-gradient(120deg, #3b82f6, #60a5fa);
  color: white;
}

/* Javascript */
.product {
  display: inline-block;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}